<form (ngSubmit)="registrationPlayers()" [formGroup]="registrationForm">
    <div class="flex">
        <div>
            <h1>Pointage des participants</h1>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>NOM</th>
                        <th>Prénom</th>
                        <th>Licence</th>
                    </tr>
                </thead>
                <tbody formArrayName="players" *ngFor="let player of players.controls; let i = index">
                    <tr [formGroupName]="i">
                        <td>{{ i+1 }}</td>
                        <td><input type="text" formControlName="lastname" id="lastname{{ i }}"/></td>
                        <td><input type="text" formControlName="firstname" id="firstname{{ i }}"/></td>
                        <td><input type="text" formControlName="license" id="license{{ i }}"/></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="rooms-column" >
                        <td colspan="3">Tables disponibles : </td>
                        <td>
                            <select formControlName="rooms" id="rooms">
                                <option [ngValue]="4" selected>4</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="submit" [title]="registrationForm.valid ? 'Valider les participants' : 'Veuillez vérifier la saisie des participants'" [disabled]="!registrationForm.valid">Valider</button>
        </div>
    </div>
</form>
