<div class="flex">
    <div>
        <h1>Liste des matchs</h1>
    </div>
    <div>
        <h5>Cliquez sur le vainqueur du match</h5>
    </div>
    <div>
        <table>
            <tr>
                <th>Tour</th>
                <th>Numéro</th>
                <th>Joueur 1</th>
                <th>Joueur 2</th>
                <th>Table</th>
            </tr>
            <tr *ngFor="let game of games">
                <td class="center-column">{{ game.tower }}</td>
                <td class="center-column">{{ game.number }}</td>
                <td
                    [ngClass]="{
                        'winner' : game.winner && game.first_player===game.winner,
                        'loser' : game.winner && game.first_player!==game.winner,
                        'select-winner' : game.first_player && game.second_player}"
                    (click)="selectWinner(game, game.first_player)"
                >
                    {{ game.first_player_name }}
                </td>
                <td
                [ngClass]="{
                    'winner' : game.winner && game.second_player===game.winner,
                    'loser' : game.winner && game.second_player!==game.winner,
                    'select-winner' : game.second_player && game.second_player}"
                    (click)="selectWinner(game, game.second_player)"
                >
                    {{ game.second_player_name }}
                </td>
                <td class="center-column" disabled="game.winner">
                    <select #currentRoom *ngIf="rooms.length > 0" [disabled]="roomsAvailables === 0 || game.winner" (change)="selectRoom(game, currentRoom.value)">
                        <option value="0" disabled [selected]="!game.room" ></option>
                        <option *ngFor="let room of rooms" id="rooms{{game.id}}" value="{{room.id}}" [selected]="game.room_number === room.number" [disabled]="!room.available" >{{ room.number }}</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <button *ngIf="showRanking" (click)="getFinalRanking()">Classement</button>
    </div>
</div>
